:root {
    --colNum: 20;
}

* {
    display: grid;
    background-clip: border-box;
    margin: 0;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--colNum), auto);
    padding-bottom: 8rem;
    
}

.blocks {
    padding: 1%;
    width: 30%;
    padding-bottom: 30%;
}