* {
    display: grid;
    background-clip: border-box;
    margin: 0;
}

#canvas {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 30%); */
    /* grid-template-rows: repeat(auto-fill, 30%); */ 
    max-width: 45rem;
    max-height: 45rem;
    padding-bottom: 8rem;
}

.blocks {
    padding: 1%;
    width: 30%;
    padding-bottom: 30%;
}